doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Simplified Oaknut
    link(rel="stylesheet" href="/css/styles.css")
  body
    .container
      img.logo(src="/images/logo.png" alt="Logo")
      h1 Oaknut Clone
      p.subtitle Simplified and responsive Oaknut-style page
      
      .buttons
        a.button(href="#") Spreading doom and gloom on Twitter
        a.button(href="#") Distracting myself on Twitch
        a.button(href="#") Half-heartedly posting on Instagram
        a.button(href="#") Showing my age on TikTok
      
      .social-icons
        a.social-link(href="#") i.fa.fa-instagram Instagram
        a.social-link(href="#") i.fa.fa-twitter Twitter
        a.social-link(href="#") i.fa.fa-github GitHub
        a.social-link(href="#") i.fa.fa-linkedin LinkedIn

      footer
        p Footer content here
        a(href="https://andersnoren.se") Anders Norén